body {
  background-color: #fafafa;
  margin-left: 25%;
}

h1 {
  color: rgb(27, 29, 29);
  text-shadow: 5px 5px 7px #777;
}

img {
  width: 20%;
  aspect-ratio: 1;
  object-fit: cover;
}
div {
  display: inline-block;
}
